.App footer {
  font-size: smaller;
}

.App header {
  font-size: xx-large;
}

header,
h1,
h2,
h3,
h4 {
  font-family: "Handlee", cursive;
}

.App {
  background: rgba(107, 142, 218, 0.322);
  font-family: "Quicksand", sans-serif;
}

.App a {
  color: black;
}
