.partOfSpeechBtn {
  background: rgba(223, 229, 244, 0.575);
  border: 2px solid rgba(107, 142, 218, 0.322);
  border-radius: 0px;
}

.partOfSpeechBtn:hover {
  background: rgba(107, 142, 218, 0.322);
}

.activeBtn {
  background: rgba(107, 142, 218, 0.322);
}

.results {
  background: rgba(107, 142, 218, 0.322);
  border-radius: 12px;
}
