.partOfSpeechBtn {
  background: rgb(232, 213, 228);
  border: 2px solid rgba(157, 195, 179, 0.566);
  border-radius: 0px;
}

.partOfSpeechBtn:hover {
  background: rgba(157, 195, 179, 0.566);
}

.activeBtn {
  background: rgba(157, 195, 179, 0.566);
}

.results {
  background: rgb(232, 213, 228);
  border-radius: 12px;
}
